@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-background: #F6F7F9;

    --color-primary: #fff; 
    --color-primary-shade: #EDEFF2; 
    --color-accent: #3655EE; 
    --color-border: #E2E4E9;
    --color-secondary: #131720; 
    --color-shade: #676F7E; 

    --font-s: 0.875em; 
    --font-m: 1em; 
    --font-l: 1.125em; 
}

body {
    padding: 0; 
    margin: 0; 

    font-family: "Inter", Arial, Helvetica, sans-serif;

    background-color: var(--color-background); 
}


body:has(div.intro) {
    display: flex;
    flex-direction: column; 
    gap: 1em;

    align-items: start;
}

body header {
    height: 3em; 
    width: 100%; 

    background-color: var(--color-primary); 
    border-bottom: 1px solid var(--color-border); 

    position: sticky; 
    top: 0; 

    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

body header > a {
    margin-left: 1em; 
}

body header > div {
    margin-right: 1em; 
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    width: 50vw; 
    margin: 0 auto; 
}

.intro h1 {
    margin: 0; 
    width: 100%; 
    font-size: 1.4em;
}

.intro p {
    margin: 0; 
    color: var(--color-shade); 
    font-size: var(--font-m); 
}

.search {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    width: 50vw; 
    margin: 0 auto; 
}

.search input {
    border-radius: 0.5em; 
    border: 1px solid var(--color-border); 

    padding: 0.5em; 
}

.exercises {
    width: 100%; 

    display: flex;
    justify-content: center;
}

.exercises ul {
    width: 50vw; 
    padding: 0; 
    
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 1em;

    list-style: none;
}

.exercises ul a {
    background-color: var(--color-primary);
    padding: 1em 0; 
    border-radius: 0.5em; 
    border: 1px solid var(--color-border);

    width: 100%; 

    display: flex; 
    flex-direction: row; 
    gap: 1em; 
    align-items: center;

    text-decoration: none;
    color: #000;

    &:hover {
        border-color: var(--color-accent); 
    }
}

.exercises ul img {
    height: 3em; 
    aspect-ratio: 1/1 ;

    background-color: var(--color-primary-shade);
    border-radius: 0.5em;

    object-fit: contain; 

    margin: 0 1em; 
}

.exercises ul div {
    display: flex; 
    flex-direction: column; 
    gap: 0.2em; 
}

.exercises ul p {
    margin: 0;
    font-size: var(--font-s);  

    &:last-of-type {
        color: var(--color-shade); 
        font-size: 0.75em;
    }
}

.details {
    width: 50vw; 
    display: flex;
    flex-direction: column; 
    gap: 1em;
    justify-self: center;
    margin: 0 auto; 

    margin-top: 1em;
}

.details > a {
    color: var(--color-secondary); 
    text-decoration: none;

    padding: 0.3em 0.6em; 
    border-radius: 0.5em; 

    width: min-content; 
    white-space: nowrap;
    
    &:hover {
        background-color: var(--color-primary-shade);   
    }
}

.details > div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1em; 
}

.details > div img {
    background-color: var(--color-primary-shade);
    border-radius: 0.5em;
    aspect-ratio: 1/1;
    height: 6em; 
}

.details > div div {
    gap: 0.2em;
    display: flex;
    flex-direction: column; 
}

.details > div h1 {
    font-size: 1.4em; 
    margin: 0; 
}

.details > div p {
    font-size: var(--font-m); 
    color: var(--color-shade);
    margin: 0;  
}

.details > div:nth-of-type(2) {
    display: flex;
    flex-direction: row; 
    gap: 1em; 
    justify-content: space-between;
}

.details > div:nth-of-type(2) div {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 0.5em; 
    align-items: center;

    background-color: var(--color-primary); 
    border: 1px solid var(--color-border); 
    border-radius: 1em; 
    padding: 1em; 
}

.details > div:nth-of-type(2) div p:first-child {
    color: #000; 
}

.details > div:last-of-type {
    background-color: var(--color-primary); 
    border: 1px solid var(--color-border); 

    display: flex;
    flex-direction: column; 
    gap: 1em;
    padding: 2em; 
    border-radius: 1em; 
}

.details > div:last-of-type h2 {
    margin: 0; 
}

.details > div:last-of-type p {
    line-height: 1.5em;
}

/* Create workout */ 
.create {
    display: flex;
    flex-direction: column; 
    gap: 0.5em; 

    width: 50vw; 
    margin: 2em auto 2em auto; 
}

.create h2 {
    font-size: 1.4em; 
    margin: 0; 
}

.create p {
    color: var(--color-secondary); 
    font-size: var(--font-l); 

    margin: 0; 
}

.workout {
    width: 50vw; 
    margin: 0 auto; 
    display: grid; 
    gap: 1em;
    grid-template-columns: 4fr 7fr; 
}

.workout > div:nth-of-type(1) {
    grid-column: 1 / 2;

    background-color: var(--color-primary); 
    border: 1px solid var(--color-border); 
    padding: 1em;
    border-radius: 1em; 

    overflow-y: scroll; 
    height: 80vh; 
}

.workout > div:nth-of-type(2) {
    background-color: var(--color-primary); 
    border: 1px solid var(--color-border); 
    padding: 1em;
    border-radius: 1em; 

    height: min-content;
}

.workout ul {
    list-style: none; 
    display: flex;
    flex-direction: column; 
    gap: 0.5em; 
    padding: 0; 
    margin: 0; 
}

.workout > div:first-of-type ul li div {
    display: none; 
}

.workout ul li div {
    display: flex;
    flex-direction: row; 
    gap: 0.5em;
}

.workout ul li div div {
    display: flex;
    flex-direction: row; 
    gap: 0.5em; 
    align-items: center;
}

.workout ul li div div p {
    color: var(--color-shade);
    margin: 0; 
    font-size: 0.75em;
}

.workout ul li div div button {
    border: 1px solid var(--color-border);
    border-radius: 0.5em;
    padding: 0.5em;
    background: none; 
    font-size: 0.75em;
    color: var(--color-secondary);
}

.workout ul li div div input {
    border: 1px solid var(--color-border);
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 0.75em;
    color: var(--color-secondary);

    width: 3em;
}

.workout div:nth-of-type(2) h2 {
    font-size: 1em; 
}

.workout ul li {
    border: 1px solid var(--color-border); 
    padding: 1em;
    border-radius: 1em; 
}

.workout > div:nth-of-type(2) > div button {
    border: none; 
    background-color: var(--color-accent);
    color: #fff;
    padding: 0.5em 1em; 
    border-radius: 0.5em;
    width: 100%; 
    font-size: 1em; 
}

.workout div:nth-of-type(2) .field:not(:has(li)) > div {
    display: flex;
}

.workout div:nth-of-type(2) .field {
    overflow: hidden; 
    margin-bottom: 1em;
}

.workout div:nth-of-type(2) .field > div {
    display: none;

    border: 1px dashed var(--color-border); 
    width: 100%; 
    height: 10em;
    border-radius: 1em; 

    justify-content: center;
    align-items: center;
}

.workout div:nth-of-type(2) .field > div p {
    color: var(--color-shade);
}

.workout div:nth-of-type(2) .field li {
    font-size: var(--font-m);

}